
language: node_js
node_js:
  - "lts/*"
addons:
  apt:
    packages:
      - libgconf-2-4
before_script:
  - if [ ! -z "$NLX_KEY" ]; then echo "$NLX_KEY" > ./waardepapieren-service/system-test/certs/org.key; fi
  - if [ ! -z "$NLX_CERT" ]; then echo "$NLX_CERT" > ./waardepapieren-service/system-test/certs/org.crt; fi
script:
  - ./.travis.sh
