.NeedWizard {
    text-align: left;
    margin: auto;
    width: 50%;
    font-size: 16pt;
}

.NeedWizard input {
    font-size: 16pt;
    padding: 10px;
    margin: 10px;
}

.NeedWizard button {
    background-color: #2255ff;
    font-size: 12pt;
    padding: 10px;
    margin: 10px;
}

.NeedWizard select {
    font-size: 16pt;
    padding: 10px;
    margin: 10px;
}

.NeedWizard table {
    margin: auto;
    width: 70%;
}
